.HeroImg {
    width: 100%;
    height: 100vh;
    min-width: 100%;
    
    background-image: url("/src/images/landing1.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom  center;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative
}

.Imgcontent {
    
    padding: 0 5%;
}

.H1Intro {
    font-family: 'Playfair Display', serif;
    /* padding-left: 10px; */
    /* position: absolute;
    top: 12%; */


}

.HeroH1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 3.5px;
    /* padding-left: 10px;
    padding-right: 10px; */
    /* position: absolute;
    top: 15%; */
    margin: 0;
   
}

.IntroP {
    font-size: 1.25rem;
    text-align: left;
    /* padding-left: 10px;
    padding-right: 10px; */

    /* position: absolute; */
    /* top: 30%; */
    padding: 0;
    margin: 0;
}

#light .HeroImg {
    color: #e0c1b5;
}

#ActionBtn {
    /* position: absolute;
    top: 62%;  */
    font-size: 1.25rem;
    padding: 10px 17.5px;
    border-radius: 10px;
    align-self: center;
    justify-self: center;
    background-color: #374a6c;
    border: 1px solid #866778;
    color: #ffffff
}

.Icons {
    width: 40px;
    height: 40px;
}

.IconDiv {
    position: absolute;
    bottom: 2%;
    /* align-self: bottom;
    justify-self: center; */
    gap: 15px;
}

@media screen and (min-width: 500px) {
    .HeroImg {
     /* padding: 5%; */
    } 
   
     
   }