.HeroImg {
    width: 100%;
    height: 100vh;
    min-width: 100%;

    background-image: url("/src/images/landing1.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 2rem;
}

.Imgcontent {
    /* background-color: #374a6c; */
    height: 85vh;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 3.4375rem;
    padding-top: 1rem;
}

.H1Intro {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    /* padding-left: 10px; */
    /* position: absolute;
    top: 12%; */


}

.HeroH1 {
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5;
    letter-spacing: 3.5px;
    /* padding-left: 10px;
    padding-right: 10px; */
    /* position: absolute;
    top: 15%; */
    margin: 0;

}

.IntroP {
    font-size: 1.25rem;
    text-align: left;
    /* padding-left: 10px;
    padding-right: 10px; */

    /* position: absolute; */
    /* top: 30%; */
    padding: 0;
    margin: 0;
}

#light .HeroImg {
    color: #e0c1b5;
}


.Icons {
    width: 2.5rem;
    height: 2.5rem;
}

.IconDiv {
    /* position: absolute;
    bottom: 2%; */
    /* justify-self: bottom;
    justify-self: center; */
    gap: 15px;

}


@media screen and (min-width: 500px) {
    :root {
        font-size: 18px;
    }

}

@media screen and (min-width: 767px) {
    :root {
        font-size: 20px
    }
}

@media screen and (min-width: 1024px) {
    :root {
        font-size: 22px
    }

    .Imgcontent {
        padding: 0 10%;
        gap: 4rem;
    }

}