.ProjectRnnR {
    background-color: darkgray;
    background-image: url("../images/DSC03798.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 60vh;
    
}

.ProjectRnnR h2 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
    color: #00c2ce;
    position: absolute;
    top: 5%;
    
}

.ProjectRnnR .LinktoProject {
    font-size: 1.5rem;
    color: white;
    text-align:center;
    text-decoration: underline;
    font-weight: 600;
    position: absolute;
    top: 60%;
}

.KeySentence {
  position: absolute;
  top: 27%;
  font-weight: 600;
  text-align: center;
}

.TechStack {
bottom: 7%;
position: absolute;
padding: 0 1.875rem;
font-weight: 600;

}
.Icons, .Icons a {
    width: 2.5rem;
    height: 2.5rem;
}


.BottomLine {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.875rem;
    bottom: 0%;
position: absolute;
}

.RnnR {
    font-size: 1.5rem;
    color: white;
    text-align:center;
    height: 100%;
    padding-bottom: 2rem;
    padding-left: 5%;
    padding-right: 5%;
}

.Rnnr p {
    text-align: center;
}

.RnnR h3 {
    color:#00c2ce
}
.RnnR h4 {
    margin-top: 0.9375rem;
}
.RnnR li {
    text-decoration: none;
    list-style-type: disc;
    list-style-position: inside;
    text-align: left;
    padding: 0;
}

.SubTitle {
    margin: 0;
    text-align: center;
    width: 100%;
}

.RnnR .NoDot {
    list-style-type: none;
    text-align: center;
}


@media screen and (min-width: 500px) {
    :root {
        font-size: 18px;
    }

    
}

@media screen and (min-width: 767px) {
    :root {
        font-size: 20px
    }

    .RnnR {
        padding: 0 7.5%;
        
      }
    .RnnR p {
        text-align: left;
    }
}

@media screen and (min-width: 1024px) {
    :root {
        font-size: 22px
    }

    .ProjectRnnR {
        border-radius: 10px;
    }

    .RnnR {
        padding: 0 10%;
      }
  

}