.ProjectRnnR {
    background-color: darkgray;
    background-image: url("../images/DSC03798.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 55vh;
    
}

.ProjectRnnR h2 {
    font-size: 3rem;
    padding: 0;
    margin: 0;
    color: #00c2ce;
    position: absolute;
    top: 5%;
    
}

.ProjectRnnR .LinktoProject {
    font-size: 1.5rem;
    color: white;
    text-align:center;
    text-decoration: underline;
    font-weight: 600;
    position: absolute;
    top: 60%;
}

.KeySentence {
  position: absolute;
  top: 27%;
  font-weight: 600;
  text-align: center;
}

.TechStack {
bottom: 7%;
position: absolute;
padding: 0 30px;
font-weight: 600;

}
.Icons, .Icons a {
    width: 40px;
    height: 40px;
}


.BottomLine {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    bottom: 0%;
position: absolute;
}

/* .GrayLayer {
    background-color: lightgray;
    opacity: 0.2;
} */

.RnnR {
    font-size: 1.5rem;
    color: white;
    text-align:center;
    height: 100%;
}

.RnnR h3 {
    color:#00c2ce
}
.RnnR h4 {
    margin-top: 15px
}
.RnnR li {
    text-decoration: none;
    list-style-type: disc;
    list-style-position: inside;
    text-align: left;
    padding: 0 25px;
}

.SubTitle {
    margin: 0;
    text-align: center;
    width: 100%;
}

.RnnR .NoDot {
    list-style-type: none;
}