/* https://medium.com/eightshapes-llc/light-dark-9f8ea42c9081 */

:root {
  font-size: 16px;
}

.primary-light {
  color: #ffffff;
}

.secondary-light {
  color: #B0BeC5;
}

.interactive-light {
  color: #0071bc;
}

.error-light {
  color: #BF0000;
}

/* background */



/* actual styling */
body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  width: 100%;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

.App {
  font-family: 'Titillium Web', sans-serif;
  width: 100%;
  height: 100%;
  background-image: url("/src/images/pexels-kai-pilger-1341279.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  color: #ffffff;

}


main,
html,
body {
  width: 100%;
  /* height: 100%; */
  height: 100vh;

}

.homecontainer {
  width: 100%;
}






/* NAVIGATION  */
.navigation {

  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  /* padding-right:  0.9375rem;
  padding-left: 0.9375rem; */
  border-bottom: 2px solid #ffffff;

}



.logo {
  font-size: 1.75rem;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  width: fit-content;
  padding-left: 5%;
  height: 50%;
  display: flex;

  align-items: center;
}

/* basic */

a:visited,
a:active,
a:hover,
a:link {
  text-decoration: none;
  color: inherit
}

button {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

.about {
  padding: 0.625rem;
}

h2 {
  font-size: 1.6rem;
  letter-spacing: 0.125rem;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.25rem;
  line-height: 1.75;
  /* padding: 0.9375rem; */
}

li {
  font-size: 1rem;
  line-height: 1.75;
  padding: 0 0.9375rem;
  margin: 1.25rem 0;
}

ol li {
  padding: 0 0.9375rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

h5 {
  margin: 0.625rem 0;
}


.highlighted {
  /* color: #0071bc; */
  color: silver;
  font-size: 1.1em;
  letter-spacing: 0.125rem;
  font-weight: 600;
}


.contact {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.replyform {
  height: 100vh;
}

.replyform p {
  text-align: center;
  margin-bottom: 0;
}

.replyform span {
  display: block;
  text-align: center;
  padding-left: 15rem
}

.projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1.25rem
}

.projects h1 {
  margin: 0;
  margin-top: 1.25rem;
  padding: 0;

}

.me {
  width: 100%;
  height: auto;
}

figcaption {
  font-style: italic;
  text-align: center;
  font-size: 0.9rem;
}

.pagebottomcontainer {

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.375rem;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem
}

.arrowtext {
  font-size: 1rem;
}

.pagebottominnerbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollToTop {
  opacity: 1;
  position: fixed;
  bottom: 5%;
  right: 1%;
  /* color: #ba55d3; */
  color: #F806CC;
}

.scrollToTop:hover, .pagebottominnerbox:hover, .actionbtn:hover, .logo {
  cursor:pointer;
 }

.actionbtn {
  font-size: 1.25rem;
  padding: 0.625rem 1.09375rem;
  border-radius: 0.625rem;
  align-self: center;
  justify-self: center;
  border: 0.0625rem solid white;
  background-image: linear-gradient(to left top, #3417A4, #9919bc);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
#activeTab {
  color: #F806CC;
  font-size: 1.25rem;
  font-weight: 700;
}

.about,
.contact,
.projects,
.replyform {
  padding: 0 5%;
  padding-bottom: 5%;
}



@media screen and (min-width: 500px) {
  :root {
    font-size: 18px;
  }


}

@media screen and (min-width: 767px) {

  /* start of medium tablet styles */
  :root {
    font-size: 20px
  }

  figure {
    float: left;
    width: 40%
  }

  .textonleft {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
  }


  .about,
  .contact,
  .projects,
  .replyform {
    padding: 0 7.5%;
    padding-bottom: 5%;

  }
}

@media screen and (min-width: 1024px) {
  :root {
    font-size: 22px
  }

  .about,
  .contact,
  .projects,
  .replyform {
    padding: 0 10%;
    padding-bottom: 5%;

  }

  .logo {
    padding-left: 10%;
  }

  .actionbtn {
    border: 2px solid white;
  }
  .about {
    overflow: hidden;
  }
  .me {
    width: 90%
  }
}