/* https://medium.com/eightshapes-llc/light-dark-9f8ea42c9081 */

.primary-light {
  color: #ffffff;
}

.secondary-light {
  color: #B0BeC5;
}

.interactive-light {
  color: #0071bc;
}

.error-light {
  color: #BF0000;
}

/* background */

#dark {
  background-color: #222222;
}

#light {
  background-color: whitesmoke;
}

/* actual styling */
body {
  margin: 0;
  padding: 0;
}

.App {
  font-family: "Ubuntu", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}